{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'real_effort_numbers/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}
{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}

{% block title %}
    Pagos Etapa 1
{% endblock %}

{% block content %}
 <div class="wrapper instructions">
    <p align = "justify">
    <b>Jugador {{player.id_in_group}}</b> vs Jugador {{opponent_id}}.<br><br>
    Número de sumas correctas <b>Jugador {{player.id_in_group}}</b>: {{correct_answers}}<br>
    Número de sumas correctas <b>Jugador {{opponent_id}}</b>: {{correct_answers_opponent}}<br>
    Número de sumas correctas <b>Equipo {{player.team}}</b>: {{correct_answers_team}}<br><br>
    Ganancias totales <b>Jugador {{player.id_in_group}}</b> Etapa 1: {{ combined_payoff }}<br>
    Ganancias totales <b>Jugador {{opponent_id}}</b> Etapa 1: {{ combined_payoff_opponent }}<br>
    Ganancias acumuladas <b>Equipo AB</b>: {{combined_payoff_team}} <br><br>
    Ganancias acumuladas <b>Jugador {{player.id_in_group}}</b>: {{combined_payoff_total}}
    </p>
</div>
    {% next_button %}

{% endblock %}


