{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Instrucciones" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p>
            {% blocktrans trimmed with n=num_choices %}
                En esta actividad deberás tomar {{ n }} decisiones, <b>pero solo una</b> será escogida al azar para
                realizar tu pago. Al finalizar toda la actividad podrás revisar un enlace en el que se te
                informará cuál ha sido la decisión escogida para tus pagos.

                Ten en cuenta que el dinero que podrás ganar en esta actividad dependerá de las
                posibilidades que tengas de sacar al final una pelota azul.

                Tendrás la posibilidad de escoger entre dos bolsas que contienen 10 pelotas, algunas
                azules y otras rojas.

                Ganaras $15,000 si al final de la actividad es escogida al azar una pelota de color azul y
                no ganas nada si al final la balota escogida es roja.
            {% endblocktrans %}
            {% comment %} {% blocktrans trimmed with n=num_choices %}
                In the following, you'll face {{ n }} decisions listed on your screen. Each decision is a paired
                choice between "Option A" and "Option B". While the payoffs of the two options are fixed for all
                decisions, the chances of the high payoff for each option will vary.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with n=num_choices %}
                After you have made all of your choices, one of the {{ n }} decisions will be randomly chosen for
                your payment. For the option you chose, A or B, in this decision, it will be randomly determined
                (according to the corresponding probabilities) whether the low or high outcome will constitute your
                payoff.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with n=num_choices %}
                To summarize: You will make {{ n }} choices; for each decision you will have to choose between
                "Option A" and "Option B". You may choose A for some decision rows and B for other rows. When
                you are finished, one of the {{ n }} decisions will be randomly picked for your payoff. Then a
                random number will be drawn to determine your earnings for the option you chose in that decision.
            {% endblocktrans %} {% endcomment %}
        </p>

    </div>

    {% next_button %}

{% endblock %}
