{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Encuesta de datos sociodemográficos" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "justify" >
                
            <b>A continuación, usted va a encontrar varias preguntas relacionadas a aspectos sociodemográficos.
            Por favor lea y especifique sus respuestas de acuerdo a lo indicado.</b><br><br>

            <b>Confidencialidad:</b> La información que usted brinda en esta encuesta es confidencial y anónima. Dicha información
            será utilizada con propósitos académicos y será protegida de acuerdo con la Ley Estatutaria 1581 de 2012 de
            protección a los datos personales.<br>

            {% formfield player.genero %}
            {% formfield player.edad %}
            {% formfield player.ciudad %}
            {% formfield player.estrato %}
            {% formfield player.estado_civil %}
            {% formfield player.numero_hijos %}
            {% formfield player.identifica_cultura %}
            {% formfield player.identifica_religion %}
            {% formfield player.nivel_estudios %}
            De acuerdo con una escala del 1 a 10 que va de izquierda a derecha, en la que el 1 significa izquierda
            y el 10 significa derecha.
            {% formfield player.tendencia_politica %}
            {% formfield player.disposicion_riesgos %}
            <b>Por favor, indique en qué medida está de acuerdo o no con cada una de las siguientes 10
            afirmaciones.</b>
            {% formfield player.conseguir_esfuerzo %}
            {% formfield player.planes_termino %}
            {% formfield player.juego_suerte %}
            {% formfield player.propongo_aprender %}
            {% formfield player.mayores_logros %}
            {% formfield player.establecer_metas %}
            {% formfield player.competencia_excelencia %}
            {% formfield player.salir_adelante %}
            {% formfield player.comparar_calificaciones %}
            {% formfield player.empeno_trabajo %}
            <b>Por favor, indique en qué medida está de acuerdo o no con cada una de las siguientes 10
            afirmaciones.</b>
            {% formfield player.alcanzar_objetivos %}
            {% formfield player.cumplir_tareas %}
            {% formfield player.obtener_resultados %}
            {% formfield player.exito_esfuerzo %}
            {% formfield player.superar_desafios %}
            {% formfield player.confianza_tareas %}
            {% formfield player.tareas_excelencia %}
            {% formfield player.tareas_dificiles %}
            {% formfield player.alcanzar_objetivos %}
            <b>¿Ha realizado las siguientes situaciones o acciones en los <u>últimos 4 años</u>?. Por favor, utilice una
            escala de 0 a 5, siendo 0 “nunca la hice en el último año”, y 5 es “las hago/he hecho todo el tiempo
            en el último año”</b>
            {% formfield player.tarde_cita %}
            {% formfield player.comprar_vendedores_ambulantes %}
            {% formfield player.trabajar_sin_contrato %}
            {% formfield player.emplear_sin_contrato %}
            {% formfield player.no_cotizar_pension %}
            {% formfield player.no_cotizar_salud %}
            {% formfield player.no_cuenta_bancaria %}
            {% formfield player.pedir_prestado %}
            {% formfield player.transporte_alternativo %}
            {% formfield player.vender_informal %}
            {% formfield player.no_votar %}
            {% formfield player.comprar_sin_factura %}
            <b>Según su experiencia personal, en los <u>últimos 4 años</u>, ¿cuántas personas realizan estas acciones?
            Utilice una escala de 0 a 5, en donde 0 es “ninguna lo ha hecho en el último año”, y 5 es “todas o la
            mayoría lo han hecho en el último año”</b>
            {% formfield player.tarde_cita_otros %}
            {% formfield player.comprar_vendedores_ambulantes_otros %}
            {% formfield player.trabajar_sin_contrato_otros %}
            {% formfield player.emplear_sin_contrato_otros %}
            {% formfield player.no_cotizar_pension_otros %}
            {% formfield player.no_cotizar_salud_otros %}
            {% formfield player.no_cuenta_bancaria_otros %}
            {% formfield player.pedir_prestado_otros %}
            {% formfield player.transporte_alternativo_otros %}
            {% formfield player.vender_informal_otros %}
            {% formfield player.no_votar_otros %}
            {% formfield player.comprar_sin_factura_otros %}
            <b>¿Qué tan apropiado o inapropiado cree usted que es hacer estas acciones?
            Por favor, utilice la siguiente escala de 0 a 5, donde 0 es Completamente inapropiado, 
            y 5 es Completamente apropiado</b>
            {% formfield player.tarde_cita_apropiado %}
            {% formfield player.comprar_vendedores_ambulantes_apropiado %}
            {% formfield player.trabajar_sin_contrato_apropiado %}
            {% formfield player.emplear_sin_contrato_apropiado %}
            {% formfield player.no_cotizar_pension_apropiado %}
            {% formfield player.no_cotizar_salud_apropiado %}
            {% formfield player.no_cuenta_bancaria_apropiado %}
            {% formfield player.pedir_prestado_apropiado %}
            {% formfield player.transporte_alternativo_apropiado %}
            {% formfield player.vender_informal_apropiado %}
            {% formfield player.no_votar_apropiado %}
            {% formfield player.comprar_sin_factura_apropiado %}
        </p>

    </div>
{% next_button %}
{% endblock %}
