{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Etapa 2 - Consejos" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
{% load static %}
    <div class="wrapper instructions">
        <p align = "justify" >
            Estamos interesados en mejorar la precisión de los organigramas y descripción de cargos en las unidades académicas. 
            Para ello, queremos contar con la opinión de personas con experiencia en entidades universitarias, como usted. 
            Por apoyarnos con este ejericio, recibirá un pago de $20000, el cual se le sumará a otros pagos que recibirá a lo largo de esta activdad.<br><br>
            A continuación se presenta el organigrama y una lista de funcionarios de una escuela de ingeniería. 
            Lea esta información para contestar las preguntas que aparecen al final. Por favor, responda de manera breve.<br>
            <img src="{% static 'mpl/images/Organigrama.png' %}" alt="Organigrama" style= "height: 100%; width: 100%; object-fit: contain">
            <b>Personal de la Escuela de Ingeniería Eléctrica y Electrónica (EIEE)</b><br><br>
            <b>Carlos Andrade Solís (Auxiliar Contable)</b>, del área de Contratos y Pagos, se encarga de coordinar los procesos de contratación y nómina del personal docente, administrativo y técnico de la EIEE. 
            Dentro de sus funciones, él realiza procesos de recepción y archivo de documentos, digita y registra transacciones contables, elabora nóminas, verifica procesos de liquidación y atiende problemas relacionados a pagos, entre otros.<br><br>
            Correo: <a href="mailto:carlos.andrade.s@universidad.com">carlos.andrade.s@universidad.com</a><br>
            Teléfono: 32412000 Ext. 148. <br>
            Oficina: 104<br><br>

            <b>Carolina Muñoz Delgado (Profesional)</b> coordina el personal encargado del área de Mantenimiento y Equipos de la EIEE. Ella debe garantizar el perfecto funcionamiento de los equipos eléctricos y, 
            en general, de la planta física de la Escuela. Sus funciones incluyen: ejecutar labores administrativas y operativas orientadas a la compra, recepción, instalación, mantenimiento 
            y reparación de equipos; realizar inspección y mantenimiento periódico preventivo en el edificio de la Escuela; planear y supervisar la labor del personal encargado del aseo; y elaborar informes técnicos, entre otros.<br><br>
            Correo: <a href="mailto:carolina.m.delgado@universidad.com">carolina.m.delgado@universidad.com</a><br>
            Teléfono: 32412000 Ext. 149.<br> 
            Oficina: 102<br><br>

            <b>Francisco Vanegas Castro (M.Sc. en Ingeniería Eléctrica)</b> es profesor del programa de Ingeniería Eléctrica y director del grupo de investigación TDSE. 
            Además de realizar diversas labores de enseñanza y de dirección investigativa, él se encarga de coordinar al equipo de profesores responsables de los laboratorios de la EIEE. 
            Su labor garantiza el óptimo funcionamiento y uso de los laboratorios, ya que él se encarga de informar necesidades y gestionar soluciones ante diversas instancias de la Universidad<br><br>
            Correo: <a href="mailto:francisco.vanegas@universidad.com">francisco.vanegas@universidad.com</a><br>
            Teléfono: 32412000 Ext. 146.<br> 
            Oficina: 302<br><br>

            <b>Mauricio Ortiz (Profesional)</b> trabaja en la Oficina de Procesos de Profesores y se encarga de gestionar todos los requisitos relacionados a la vinculación de profesores, 
            asistentes de docencia y monitores. Algunas de sus funciones son: coordinar procesos de convocatoria a través de diferentes canales; dar información y resolver diversas dudas; 
            solicitar, verificar, y archivar documentación de contratación; y realizar informes de evaluación mensual.<br><br>
            Correo: <a href="mailto:ortiz.mauricio@universidad.com">ortiz.mauricio@universidad.com</a><br>
            Teléfono: 32412000 Ext. 144.<br> 
            Oficina: 107<br><br>

            <b>Natalia Montoya Ríos (Profesional)</b> es secretaria de la Dirección de Programas Académicos de Pregrado de la EIEE. 
            Ella realiza procesos de recepción y archivo de documentos, realiza labores de planeación y organización de actividades curriculares 
            asignadas por el/la director(a), establece comunicación con otras dependencias, atiende visitas, da información sobre procesos académicos y 
            curriculares, y actualiza bases de datos, entre otros. <br><br>
            Correo: <a href="mailto:montoya.natalia@universidad.com">montoya.natalia@universidad.com</a><br>
            Teléfono: 32412000 Ext. 132.<br> 
            Oficina: 112<br><br>

            <b>Paola Bonilla Prado (PhD. en Ciencias de la Ingeniería)</b> es la Directora de los Programas Académicos de Pregrado, profesora del Programa de Ingeniería Electrónica y 
            directora del grupo de investigación SisTelCo. Sus múltiples funciones incluyen: planear y dirigir 
            actividades académicas, curriculares y administrativas; coordinar el trabajo docente y administrativo;
            gestionar permisos y presupuestos para desarrollar actividades investigativas del grupo de investigación 
            que dirige; velar por el mantenimiento y mejoramiento de estándares de calidad; realizar labores docentes,
            entre otros.    <br><br>
            Correo: <a href="mailto:paola.b.prado@universidad.com">paola.b.prado@universidad.com</a><br>
            Teléfono: 32412000 Ext. 141..<br> 
            Oficina: 112<br><br>

            <b>Preguntas</b><br>
            1. Suponga que un amigo suyo está interesado en trabajar como profesor en la EIEE. 
            Ustedes han estado buscando si existen convocatorias vigentes en la página de la Universidad, pero no han encontrado nada. 
            Como quieren estar seguros, deciden pedir información.
            {% formfield player.pregunta_uno %}
            2. Suponga que usted entra a uno de los baños de la EIEE y encuentra que el grifo de uno de los lavamanos se ha reventado 
            y está botando mucha agua.
            {% formfield player.pregunta_dos %}
            3. Durante varios años el Programa de Ingeniería Eléctrica se ha destacado por sus altos estándares de calidad y aporte investigativo en la región. 
            El próximo mes dicho programa está de aniversario y un estudiante del Programa de Comunicación Social quiere escribir una columna para la revista de la Universidad. 
            Él necesita recolectar información curricular y tomarle fotos a algunos equipos y laboratorios.
            {% formfield player.pregunta_tres %}
            4. Suponga que usted realiza funciones de mantenimiento de la planta física de la EIEE y que su pago tiene un retraso de cinco días
            (lo cual no es normal, ya que siempre ha recibido su pago a tiempo).
            {% formfield player.pregunta_cuatro %}
            5. La profesora Paola Bonilla Prado fue citada por el Jefe del Departamento de Idiomas para definir estrategias 
            conjuntas que lleven a mejores resultados de inglés en las pruebas ECAES 
            (Exámenes de Calidad de Educación Superior). Ella rechazó esta invitación porque dice que tal labor no está
            dentro de sus funciones.
            {% formfield player.pregunta_cinco %}
            6. Suponga que dos trabajadores de una empresa de repuestos y accesorios de computadores llegan a la EIEE 
            para hacer una entrega de cinco impresoras. Ellos no saben quién es la persona encargada de recibirlos, 
            así que le preguntan a usted. 
            {% formfield player.pregunta_seis %}
            7. El plan de estudios del Programa de Ingeniería Electrónica fue ligeramente modificado hace un año. 
            En este programa hay algunos estudiantes de octavo semestre que no están seguros si dicho cambio los puede afectar 
            de alguna manera y necesitan información.
            {% formfield player.pregunta_siete %}

        </p>
        
    </div>
    
      

{% next_button %}
{% endblock %}
