{% extends "base/Page.html" %}
{% load otree %}

{% block title %}
    Sesion {{ player.intermedio_actual }}
{% endblock %}

{% block body %}
    <p>
        En el momento usted cuenta con {{ player.payoff }}COP y ha retirado un total de {{ player.disbursement }}COP
    </p>
    <div class="row">
        <div class="col-12">
            {% formfield player.money_decision %}
            <div style="display: none" id="percentage_saved_div">
                {% formfield player.percentage_saved %}
            </div>
        </div>
    </div>
    <div style="display: None" id="confirm_button">
        {% next_button %}
    </div>
{% endblock %}

{% block local_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js">

    </script>
    <script type="text/javascript">
        $(document).on('change', 'input[name="money_decision"]', function () {
            $('#id_percentage_saved').val(0);
            if ($('input[name="money_decision"]:checked').val() == 1) {
                $('#confirm_button').hide()
                $('#percentage_saved_div').show();
            } else {
                $('#confirm_button').show()
                $('#percentage_saved_div').hide();
            }
        })
        $(document).on('change', '#id_percentage_saved', function () {
            $('#confirm_button').show();
        })
        chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };
        var color = Chart.helpers.color;
        var ctx = document.getElementById('myChart').getContext('2d');
        data = {
            datasets: [{
                data: [
                    {% for value in group.players_info %}
                        {{ value }},
                    {% endfor %}
                ],
                backgroundColor: [
                    color(chartColors.red).alpha(0.5).rgbString(),
                    color(chartColors.green).alpha(0.5).rgbString(),
                    color(chartColors.blue).alpha(0.5).rgbString()
                ]
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Opcion 1',
                'Opcion 2',
                'Opcion 3'
            ]
        };
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
        });
    </script>
{% endblock local_scripts %}
