{% extends "global/Page.html" %}
{% load otree %}

{% block title %}

{% endblock %}

{% block body %}
    <div id="content1">
        <h1>Bienvenido.</h1>
        Usted desempeñará la labor de digitador (a), trabajando por un periodo de 3
        sesiones, con una duración de 15 minutos cada una. El salario será de $4.000 por
        sesión. Con fecha de iniciación de labores a los {{ Constants.start_date|date:"d" }} días , del
        {{ Constants.start_date|date:"m" }} mes de {{ Constants.start_date|date:"Y" }} y
        fecha de culminación a los {{ Constants.end_date|date:"d" }} días del mes {{ Constants.end_date|date:"m" }} de
        {{ Constants.end_date|date:"Y" }}. Las labores a desempeñar
        se realizan totalmente de forma virtual.
        {% if player.contract_type == 0 %}

        {% elif player.contract_type == 1 %}
            <br/>
            <br/>
            En la parte inferior puede ver una copia de su contrato
            <br/>
            <object style="min-height: 800px; margin-top: 15px" data="{% static 'experimiento_1/contrato.pdf' %}"
                    type="application/pdf" width="100%" height="100%">
                <p>Alternative text - include a link <a href="{% static 'experimiento_1/contrato.pdf' %}">to the
                    PDF!</a>
                </p>
            </object>
        {% endif %}
        <br>
        <br>
        <br>
        <br>
        <button id="confirm_button" type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#exampleModal">
            Confirmar
        </button>
    </div>
    <div style="display: none">
        {% next_button %}
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Por favor responda correctamente esta encuenta para
                        continuar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="surveyElement" style="display:inline-block;width:100%;"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block local_scripts %}
    <script type="text/javascript" src="https://surveyjs.azureedge.net/1.1.13/survey.jquery.min.js">

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            Survey
                .StylesManager
                .applyTheme("default");

            var json = {
                pages: [
                    {
                        questions: [
                            {
                                type: "radiogroup",
                                name: "civilwar",
                                title: "¿Cuántas opciones de pago podrá escoger?",
                                choices: [
                                    "1", "2", "3"
                                ],
                                "isRequired": true,
                                correctAnswer: "3"
                            },
                            {
                                type: "radiogroup",
                                title: "¿Cuánto dinero recibirá por cada $100 pesos que usted decida guardar?",
                                choicesOrder: "random",
                                choices: [
                                    "50 pesos", "25 pesos", "45 pesos"
                                ],
                                "isRequired": true,
                                correctAnswer: "50 pesos"
                            },
                            {
                                type: "radiogroup",
                                title: "¿Cuándo es posible retirar el monto ahorrado?",
                                choices: [
                                    "En la siguiente sesión", "Al final de la tercera sesión", "Todas las anteriores"
                                ],
                                "isRequired": true,
                                correctAnswer: "Todas las anteriores"
                            },
                            {
                                type: "radiogroup",
                                title: "Por favor, indique cuánto será el salario por cada sesión realizada",
                                choicesOrder: "random",
                                choices: [
                                    "$2.500", "$3.000", "$4.000"
                                ],
                                "isRequired": true,
                                correctAnswer: "$4.000"
                            },
                            {
                                type: "text",
                                title: "Por favor, indique el número de sesiones que hará semanalmente",
                                correctAnswer: "1"
                            },
                            {
                                type: "text",
                                title: "Por favor, indique el total de sesiones de la actividad",
                                correctAnswer: "3"
                            },
                            {
                                type: "text",
                                title: "Por favor, indique el tiempo aproximado que dura cada sesión (en minutos)",
                                correctAnswer: "15"
                            },
                        ]
                    }
                ]
            };

            window.survey = new Survey.Model(json);
            $("#surveyElement").Survey({
                model: survey, onValidateQuestion: function (s, options) {
                    if (options.value != options.question.correctAnswer) {
                        options.error = "La respuesta es incorrecta.";
                    }
                }, onComplete: function (s, options) {
                    $('.otree-btn-next').trigger('click')
                }
            });
        })


    </script>
{% endblock local_scripts %}