{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Encuesta de datos sociodemográficos" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "justify" >
                
            <b>A continuación, usted va a encontrar varias preguntas relacionadas a aspectos sociodemográficos.
            Por favor lea y especifique sus respuestas de acuerdo a lo indicado.</b><br><br>

            <b>Confidencialidad:</b> La información que usted brinda en esta encuesta es confidencial y anónima. Dicha información
            será utilizada con propósitos académicos y será protegida de acuerdo con la Ley Estatutaria 1581 de 2012 de
            protección a los datos personales.<br>

            {% formfield player.edad %}
            {% formfield player.ciudad %}
            {% formfield player.estrato %}
            {% formfield player.estado_civil %}
            {% formfield player.numero_hijos %}
            {% formfield player.identifica_cultura %}
            {% formfield player.identifica_religion %}
            {% formfield player.nivel_estudios %}
            <tr>
            <th>{{ form.disposicion_riesgos.label }}</th><br><br>
            <th><b>Para nada dispuesto</b></th>
                {% for choice in form.disposicion_riesgos %}
                    <td>{{ choice}}</td>
                {% endfor %}
            <th><b>Totalmente dispuesto</b></th><br><br>    
            </tr>
            <th>{{ form.tendencia_politica.label }}</th><br><br>
            <th><b>Izquierda</b></th>
                {% for choice in form.tendencia_politica %}
                    <td>{{ choice}}</td>
                {% endfor %}</td>
            <th><b>Derecha</b></th><br><br>
            <b>Lea las siguientes preguntas y escoja la opción que mejor describa su situación.</b>
            <table class="table" style="text-align:left">
            <td>
                <td></td><td>Nunca</td><td>Una vez</td><td>Entre 2 y 3 veces</td><td>Más de 3 veces</td><td>No sabe</td>
            </td>
            <tr>
                <th>{{ form.victima_violencia_farc_eln.label }}</th>
                <td>{% for choice in form.victima_violencia_farc_eln %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.victima_violencia_auc_otros.label }}</th>
                <td>{% for choice in form.victima_violencia_auc_otros %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.victima_violencia_otros_delicuencia.label }}</th>
                <td>{% for choice in form.victima_violencia_otros_delicuencia %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.victima_no_violencia.label }}</th>
                <td>{% for choice in form.victima_no_violencia %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.familia_victima_farc_eln.label }}</th>
                <td>{% for choice in form.familia_victima_farc_eln %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.familia_victima_auc_otros.label }}</th>
                <td>{% for choice in form.familia_victima_auc_otros %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.familia_victima_otros_delincuencia.label }}</th>
                <td>{% for choice in form.familia_victima_otros_delincuencia %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.familia_victima_no_violencia.label }}</th>
                <td>{% for choice in form.familia_victima_no_violencia %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            </table>
            <b>Por favor, indique en qué medida está de acuerdo o no con cada una de las siguientes 10
            afirmaciones.</b>
            <table class="table" style="text-align:center">
            <td>
                <td></td><td>Fuertemente en desacuerdo</td><td>En desacuerdo</td><td>Ligeramente en desacuerdo</td><td>Ni de acuerdo, ni en desacuerdo</td><td>De acuerdo</td><td>Fuertemente de acuerdo</td>
            </td>
            <tr>
                <th>{{ form.conseguir_esfuerzo.label }}</th>
                <td>{% for choice in form.conseguir_esfuerzo %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.planes_termino.label }}</th>
                <td>{% for choice in form.planes_termino %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.juego_suerte.label }}</th>
                <td>{% for choice in form.juego_suerte %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.propongo_aprender.label }}</th>
                <td>{% for choice in form.propongo_aprender %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.mayores_logros.label }}</th>
                <td>{% for choice in form.mayores_logros %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.establecer_metas.label }}</th>
                <td>{% for choice in form.establecer_metas %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.competencia_excelencia.label }}</th>
                <td>{% for choice in form.competencia_excelencia %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.salir_adelante.label }}</th>
                <td>{% for choice in form.salir_adelante %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.comparar_calificaciones.label }}</th>
                <td>{% for choice in form.comparar_calificaciones %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.empeno_trabajo.label }}</th>
                <td>{% for choice in form.empeno_trabajo %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            </table>
            <b>Por favor, indique en qué medida está de acuerdo o no con cada una de las siguientes 10
            afirmaciones.</b>
            <table class="table" style="text-align:center">
            <td>
                <td></td><td>Fuertemente en desacuerdo</td><td>En desacuerdo</td><td>Ligeramente en desacuerdo</td><td>Ni de acuerdo, ni en desacuerdo</td><td>De acuerdo</td><td>Fuertemente de acuerdo</td>
            </td>
            <tr>
                <th>{{ form.alcanzar_objetivos.label }}</th>
                <td>{% for choice in form.alcanzar_objetivos %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.cumplir_tareas.label }}</th>
                <td>{% for choice in form.cumplir_tareas %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.obtener_resultados.label }}</th>
                <td>{% for choice in form.obtener_resultados %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.exito_esfuerzo.label }}</th>
                <td>{% for choice in form.exito_esfuerzo %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.superar_desafios.label }}</th>
                <td>{% for choice in form.superar_desafios %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.confianza_tareas.label }}</th>
                <td>{% for choice in form.confianza_tareas %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.tareas_excelencia.label }}</th>
                <td>{% for choice in form.tareas_excelencia %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ form.tareas_dificiles.label }}</th>
                <td>{% for choice in form.tareas_dificiles %}
                    <td>{{ choice.tag}}</td>
                    {% endfor %}
                </td>
            </tr>
            </table>
        </p>
    </div>
{% next_button %}
{% endblock %}
