{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'lideres_sociales/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Video" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "justify" >
                {% if player.genero == 'Masculino'%}
                    {% comment %} Total hombres: {{player.contador_masculino}}<br> {% endcomment %}
                    Apreciado participante,<br><br>
                    {% if player.contador_masculino >= 1 and player.contador_masculino <= 5 %} 
                        Por favor, vea el siguente video <a href="https://drive.google.com/file/d/1G2QVdfV6rorWWN7bEnR7CWgK3v1ga8nD/view" target="_blank">(Empatía)</a> que se abrirá en una nueva pestaña. Luego regrese a esta pantalla y llene el formulario que se le presentará a continuación.
                    {% endif %}
                     {% if player.contador_masculino >= 6 and player.contador_masculino <= 10 %}
                        Por favor, vea el siguente video <a href="https://drive.google.com/file/d/1VMIP4xuGVDLpujrHuH5AqWyRHK7hLaYs/view" target="_blank">(Expectativa Normativa)</a> que se abrirá en una nueva pestaña. Luego regrese a esta pantalla y llene el formulario que se le presentará a continuación.
                    {% endif %}
                    {% if player.contador_masculino >= 11 and player.contador_masculino <= 15 %} 
                        Por favor, vea el siguente video <a href="https://drive.google.com/file/d/1p6GEkyC4hnrMF_2kfjlCrfa2myktLWEU/view" target="_blank">(Expectativa Empírica)</a> que se abrirá en una nueva pestaña. Luego regrese a esta pantalla y llene el formulario que se le presentará a continuación.
                    {% endif %}
                     {% if player.contador_masculino >= 15 and player.contador_masculino <= 20 %}
                        Por favor, vea el siguente video <a href="https://drive.google.com/file/d/19xw56Bwt9Ea8Fhy_M88nTsj5YHZutbWp/view" target="_blank">(Informacional)</a> que se abrirá en una nueva pestaña. Luego regrese a esta pantalla y llene el formulario que se le presentará a continuación.
                    {% endif %}
                {% else%}
                    {% comment %} Total mujeres: {{player.contador_femenino}}<br> {% endcomment %}
                    Apreciada participante,<br><br>
                    {% if player.contador_femenino >= 1 and player.contador_femenino <= 5 %} 
                        Por favor, vea el siguente video <a href="https://drive.google.com/file/d/1G2QVdfV6rorWWN7bEnR7CWgK3v1ga8nD/view" target="_blank">(Empatía)</a> que se abrirá en una nueva pestaña. Luego regrese a esta pantalla y llene el formulario que se le presentará a continuación.
                    {% endif %}
                     {% if player.contador_femenino >= 6 and player.contador_femenino <= 10 %}
                        Por favor, vea el siguente video <a href="https://drive.google.com/file/d/1VMIP4xuGVDLpujrHuH5AqWyRHK7hLaYs/view" target="_blank">(Expectativa Normativa)</a> que se abrirá en una nueva pestaña. Luego regrese a esta pantalla y llene el formulario que se le presentará a continuación.
                    {% endif %}
                    {% if player.contador_femenino >= 11 and player.contador_femenino <= 15 %}
                        Por favor, vea el siguente video <a href="https://drive.google.com/file/d/1p6GEkyC4hnrMF_2kfjlCrfa2myktLWEU/view" target="_blank">(Expectativa Empírica)</a> que se abrirá en una nueva pestaña. Luego regrese a esta pantalla y llene el formulario que se le presentará a continuación.
                    {% endif %}
                    {% if player.contador_femenino >= 16 and player.contador_femenino <= 20 %}
                        Por favor, vea el siguente video <a href="https://drive.google.com/file/d/19xw56Bwt9Ea8Fhy_M88nTsj5YHZutbWp/view" target="_blank">(Informacional)</a> que se abrirá en una nueva pestaña. Luego regrese a esta pantalla y llene el formulario que se le presentará a continuación.
                    {% endif %}
                {% endif %}
    </div>
    {% next_button %}
{% endblock %}
