{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'real_effort_numbers2/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}
{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% comment %} Ronda {{round_number}} de {{Constants.num_rounds}} {% endcomment %}
    Por favor realice las siguientes sumas
{% endblock %}

{% block content %}

 <div class="wrapper instructions">
    <p align = "justify">
    {% if player.id_in_group == 2 %}
    En este momento, el Jugador X está realizando las sumas. Le invitamos a que usted también practique sus habilidades aritméticas mientras espera.<br><br>
    {% endif %}
            Jugador {{player.id_in_group}} vs Jugador {{opponent_id}}. Por favor, sume los siguientes números que aparecerán en pantalla. Luego presione el botón <b>siguiente</b>
            o la tecla <b>Enter</b> para continuar.
        <table class="table" style="text-align:right" colspan="2" >
            <tr>
                <td style="font-size:30px">{{ number_1 }} + {{ number_2 }} = </td>
                <td> {% formfields %} </td>
            </tr>
        </table>
            <b>Sumas correctas:</b> <font color='blue'>{{correct_answers}}</font><br>
            <b>Sumas incorrectas:</b> <font color='red'>{{wrong_sums}}</font><br>
            <b>Sumas totales:</b> {{total_sums}}<br>
            <b>Pago por sumas:</b> ${{combined_payoff}}<br>
    </p>
</div>
{% next_button %}
{% endblock %}
