{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Por favor, elija una de las dos opciones
{% endblock %}

{% block content %}
    {% include Constants.instructions_template %}

    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">El otro participante</th>
            </tr>
            <tr>
                <th>Coopera</th>
                <th>Traiciona</th>
            </tr>
            {% if player.id_in_group == 1 or player.id_in_group == 3%}                
            <tr>
                <th rowspan="2"><span>Usted</span></th>
                <td><button name="decision" value="Coopera" class="btn btn-primary btn-large">Contrato</button></td>
                <td>{{Constants.both_cooperate_payoff}}, {{Constants.both_cooperate_payoff}}</td>
                <td>{{ Constants.betrayed_payoff }}, {{Constants.betray_payoff}}</td>
            </tr>
            <tr>
                <td><button name="decision" value="Traiciona" class="btn btn-primary btn-large">No Contrato</button></td>
                <td>{{Constants.betray_payoff}}, {{ Constants.betrayed_payoff }}</td>
                <td>{{Constants.both_defect_payoff}}, {{Constants.both_defect_payoff}}</td>
            </tr>
            {% else %}
            <tr>
                <th rowspan="2"><span>Usted</span></th>
                <td><button name="decision" value="Coopera" class="btn btn-primary btn-large">Max esfuerzo</button></td>
                <td>{{Constants.both_cooperate_payoff}}, {{Constants.both_cooperate_payoff}}</td>
                <td>{{ Constants.betrayed_payoff }}, {{Constants.betray_payoff}}</td>
            </tr>
            <tr>
                <td><button name="decision" value="Traiciona" class="btn btn-primary btn-large">Min esfuerzo</button></td>
                <td>{{Constants.betray_payoff}}, {{ Constants.betrayed_payoff }}</td>
                <td>{{Constants.both_defect_payoff}}, {{Constants.both_defect_payoff}}</td>
            </tr>
            {% endif %} 
        </table>
    </div>

    {% comment %} <p>Here you can chat with the other participant.</p>

    {% chat %} {% endcomment %}

{% endblock %}
